/*
to add:
start game button
wager button
wager text box
controls textbox
players current money
*/



body{
font-family: 'Playball', cursive;
background: rgb(222,158,24);
background: linear-gradient(180deg, rgba(222,158,24,1) 0%, rgba(255,166,37,1) 11%, rgba(74,59,5,1) 100%);
}
h1 {
  text-align: center;
  margin-top: 0px
}
#background-image{
  z-index: -1;
  display:
  height: 1230px;
  width: 850px;
}
#race-board{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: ; */
  float: left;
  width: 70%;
  /* height: auto; */
  position: relative;
  margin-top: 150px
}
img {
  height: auto;
  width: 70%;
  position: absolute;
  z-index: -1;
}
#background-image{
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: fill;
}
#race-course {
  display: flex;
  width: auto; height: auto;
  overflow: visible;
  visibility: visible;
  display: grid;
  grid-template-columns: repeat(18, 0fr);
  grid-template-rows: repeat(15, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-self: center;
  transform:rotate(-45deg);
  position: absolute;
}
#annoucement-box{
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  margin: 150px auto;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
  padding: 2%;
  line-height: 120%;
  font: Arial;
  align-self: center;
  z-index: 0;
  position: relative;
  font-size: 25px;
  text-align: center;
  font-family: 'Playball', cursive;
}
#ketchup-image{
  width: 20px; height: 20px;
  float: right;
}
#mustard-image{
  width: 18px; height: 18px;
}
#relish-image{
  width: 18px; height: 18px;
}

.square {
  display: inline-block;
  border: 1px solid black;
  width: 23px; height: 23px;
  cursor: pointer;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	z-index: 1;
	/* overflow: auto; */
  display: none;
}
#modal-textbox {
	background-color: white;
	height: 350px;
	width: 400px;
	border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  	overflow: auto;
  line-height: 120%;
  font-family: 'Lato', sans-serif;
}
#modal-footer {
  text-align: center;
}
.modal-buttons {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
#player-selection-modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
  font-family: 'Lato', sans-serif;
}
#player-two-selection-modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
  font-family: 'Lato', sans-serif;
}
#player-selection {
	background-color: white;
	height: 450px;
	width: 350px;
	border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
#player-two-selection {
	background-color: white;
	height: 450px;
	width: 350px;
	border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
#ketchup-select:hover{
  background-color: red;
}
#mustard-select:hover{
  background-color: yellow;
  color: blue;
}
#relish-select:hover{
  background-color: lime;
}
#ketchup-two-select:hover{
  background-color: red;
}
#mustard-two-select:hover{
  background-color: yellow;
  color: blue;
}
#relish-two-select:hover{
  background-color: lime;
}

.player-two-buttons:hover{
  background-color: blue;
}
.player-buttons {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
  justify-content: space-evenly;
  text-align: center;
}
.player-two-buttons {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
  justify-content: space-evenly;
}
.bet-buttons:hover{
  background-color: blue;
}
.bet-buttons {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
  justify-content: space-evenly;
}
#player-one-textbox{
  height: 30px;
  width: 40px;
  font-size: 20px;
}
#player-two-textbox{
  height: 30px;
  width: 40px;
  font-size: 20px;
}
#start-game-modal{
    float: inherit;
}
#player-one-side{
  float: left;
  width: 15%;
  /* height: 600px; */
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}
#player-one-controls{
  margin-bottom: 10px;
}
#player-two-side{
  float: left;
  width: 15%;
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}
#player-two-controls{
  margin-bottom: 10px;
}
#start-game-modal{
  height: 10%;
  width: 150px;
  float: right;
}
.modal-buttons:hover{
  background-color: blue;
}
.player-images{
  width: 19px;
  height: 19px;
}
#winner-modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
  font-family: 'Lato', sans-serif;
}
#winner-textbox {
  background-color: white;
	height: 175px;
	width: 250px;
	border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 30px;

}
#winner-footer {
  text-align: center;
}
.winner-button {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
/* start game modal lower right corner
/* button not appearing in win game modal
/* images in squares instead of colors
/* background image
/* html size not fitting page
/* better styling for each side
