/*
to add:
start game button
wager button
wager text box
controls textbox
players current money
*/



body{

}
h1 {
  text-align: center;
  margin-top: 0px
}
#race-board{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: ; */
  float: left;
  width: 70%;
  position: relative;
  margin-top: 150px
}
img {
  height: auto;
  width: 70%;
  position: absolute;
  z-index: -1;
}
#background-image{
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: fill;
}
#race-course {
  display: flex;
  width: auto; height: auto;
  overflow: visible;
  visibility: visible;
  display: grid;
  grid-template-columns: repeat(18, 0fr);
  grid-template-rows: repeat(15, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-self: center;
  transform:rotate(-45deg);
  position: absolute;
}
#annoucement-box{
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  margin: 150px auto;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
  padding: 2%;
  line-height: 120%;
  font: Arial;
  align-self: center;
  z-index: 0;
  position: relative;
  font-size: 25px;
  text-align: center;
  font: Arial;
}
#ketchup-image{
  width: 5px; height: 5px;
  object-fit: contain;
}
#mustard-image{
  width: 18px; height: 18px;
}
#relish-image{
  width: 18px; height: 18px;
}

.square {
  display: inline-block;
  border: 1px solid black;
  width: 23px; height: 23px;
  cursor: pointer;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
}
#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
  font: Arial;
}
#modal-footer {
  text-align: right;
}
.modal-buttons {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
#player-selection-modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
}
#player-two-selection-modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
}
#player-selection {
	background-color: white;
	height: auto;
	width: 450px;
	border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
  font: Arial;
}
#player-two-selection {
	background-color: white;
	height: auto;
	width: 450px;
	border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
  font: Arial;
}
#ketchup-select:hover{
  background-color: red;
}
#mustard-select:hover{
  background-color: yellow;
  color: blue;
}
#relish-select:hover{
  background-color: lime;
}
#ketchup-two-select:hover{
  background-color: red;
}
#mustard-two-select:hover{
  background-color: yellow;
  color: blue;
}
#relish-two-select:hover{
  background-color: lime;
}
/* .player-buttons:hover{
  background-color: blue;
} */
.player-two-buttons:hover{
  background-color: blue;
}
.player-buttons {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
  justify-content: space-evenly;
}
.player-two-buttons {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
  justify-content: space-evenly;
}
.bet-buttons:hover{
  background-color: blue;
}
.bet-buttons {
	padding: 14px 18px;
	background-color: orange;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
  justify-content: space-evenly;
}
#start-game-modal{
    bottom: 30px;
    width: 100%;
    float:inherit;
}
#player-one-side{
  float: left;
  width: 15%;
  height: 600px;
}
#player-one-controls{
  margin-bottom: 10px;
}
#player-two-side{
  float: left;
  width: 15%;
}
#player-two-controls{
  margin-bottom: 10px;
}
#start-game-modal{
  height: 10%;
  width: 150px;
  float: right;
}
.modal-buttons:hover{
  background-color: blue;
}
.player-images{
  width: 19px;
  height: 19px;
}

#countdown{
  background-color: white;
	height: 100px;
	width: 100px;
	border-radius: 2px;
  margin-bottom: 10px auto;
  margin-left: 100px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 120%;
  font: Arial;
  display: none;
}
